{% extends 'base.html.twig' %}

{% block title %}Url Shortener{% endblock %}

{% block styleshees %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.shorten_url = "{{ url('shorten_url') }}";
        window.edit_url = "{{ url('edit_url') }}";
        window.make_immo = "{{ url('make_url_immortal') }}";
    </script>
    <script src="{{ asset('bundles/kadshortener/js/scripts.js') }}"></script>
    <script src="{{ asset('bundles/kadshortener/js/clipboard.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class=" panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="{{ url('kad_shortener_homepage') }}">URL Shortener</a></h3>
                </div>
                <div class="panel-body">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" id="origin_url" class="form-control" placeholder="Enter your url">
                        </div>
                        <button id="shorten" class="btn btn-default">Shorten</button>
                    </form>
                    <div class="errors">

                    </div>
                </div>


                <!-- Table -->
                <table class="table">
                    <tr>
                        <label for="basic-url">Short url</label>

                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                <div class="input-group-btn" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default copy" data-clipboard-target=".result">
                                        Copy
                                    </button>
                                </div>
                                <input type="text" id="short_url" class="form-control result"
                                       placeholder="Your short url"
                                       aria-describedby="basic-addon1" width="15" readonly>
                                <div class="input-group-btn" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default edit-url" disabled>Edit</button>
                                    <button type="button" class="btn btn-default make-immo" disabled>Make url immortal
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}