{% extends 'base.html.twig' %}

{% block title %}Url Shortener | Generated URL{% endblock %}

{% block body %}

    Your original URL: {{ origin_url }} <br>
    Generated URL: <span id="short_url"><a href="{{ url('kad_short_url_redirect', {'short_url': short_url }) }}">{{ url('kad_short_url_redirect', {'short_url': short_url }) }}</a></span>

    <a href="{{ path('kad_shorten_url_edit', {'id': id}) }}" class="btn btn-default">Edit</a>

{% endblock %}